spring:
  config:
    activate:
      on-profile: prod
  
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
  
  jpa:
    hibernate:
      ddl-auto: validate # Safer for production
    show-sql: false

cors:
  allowed-origins: ${CORS_ALLOWED_ORIGINS} # Should be strict in prod

logging:
  level:
    root: WARN
    "[com.sode]": INFO
